<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @flashcard.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @flashcard.answer %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @flashcard.correct %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @flashcard.topic %>
</p>

<%= link_to 'Edit', edit_flashcard_path(@flashcard) %> |
<%= link_to 'Back', flashcards_path %>
