<p id="notice"><%= notice %></p>

<ul class="collapsible">
  <% @classrooms.each do |classroom| %>
    <li>
      <div class="collapsible-header space-between">
        <div class="space-between">
          <i class="material-icons">dehaze</i>
          <div> <%= classroom.name %> </div>
        </div>
        <div> <%= classroom.config_review %> </div>
        <div>
          <%= link_to 'EDITAR', edit_classroom_path(classroom), class:"m-3" %>
          <%= link_to 'DELETAR', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="row">
            <div class="col s5">Tópico</div>
            <div class="col s5">Confiança</div>
          </li>
          <% classroom.topics.each do |topic| %>
            <li class="collection-item row">
              <div class="col s5">
                <%= topic.name %>
              </div>
              <div class="col s5">
                <%= topic.confidence %>
              </div>
              <div class="col s2">
                <%= link_to classroom_topic_flashcards_path(classroom, topic) do %>
                  <button class="waves-effect waves-light btn-small">Revisar</button>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
