<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>Config review:</strong>
  <%= @classroom.config_review %>
</p>

<p>
  <strong>Topics</strong>
  <% @classroom.topics.each do |topic| %>
    <%= link_to classroom_topic_path(@classroom, topic) do %>
      <%= topic.name %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
