<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :confidence %>
    <%= form.number_field :confidence %>
  </div>

  <div class="field">
    <%= form.label :reviewed %>
    <%= form.number_field :reviewed %>
  </div>

  <div class="field">
    <%= form.label :next_review %>
    <%= form.date_select :next_review %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.text_field :classroom_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
