<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <% if user_signed_in? %>
    <li>
      <a href="">Profile</a>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  <% end %>
</ul>
<nav class="cyan lighten-1">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Nova Matéria', '#' %>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            <%= current_user.email %>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      <% else %>
        <li> <%= link_to 'ENTRAR', new_user_session_path %> </li>
        <li> <%= link_to 'CADASTRAR', new_user_registration_path %> </li>
      <% end %>
    </ul>
  </div>
</nav>